<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;" *ngIf="bandera">
        <div class="card-body">
          <h5 class="card-title">Lista de personas</h5>
          <ul class="list-group">
            <li *ngFor="let persona of Personas; let i = index" class="list-group-item" routerLinkActive="active" aria-current="true">
              <div (click)="boton(persona['Nombre'], i)">
                {{persona["nombre"]}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" style="width: 18rem;" [ngClass]="{'d-none': bandera2 == false}" *ngIf="datos">
        <div class="card-body">
          <h5 class="card-title">Datos persona</h5>
          <ul class="list-group">
            <li class="list-group-item">
              Nombre: {{datos['nombre']}}
            </li>
            <li class="list-group-item">
              Apellido: {{datos['apellido']}} 
            </li>
            <li class="list-group-item">
              Sexo: {{datos['sexo']}}
            </li>
            <li class="list-group-item">
              Edad: {{datos['edad']}}
            </li>
          </ul>
        </div>
      </div>
      <h5 class="mt-5">Mostrar informacion</h5>
      <label class="switch" >
        <input type="checkbox" (click)="ocultarinfo()">
        <span class="slider round"></span>
      </label>
      <h5 class="mt-5">Mostrar personas</h5>
      <label class="switch" >
        <input type="checkbox" (click)="ocultar()">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>